body {
  margin: 0px;
  font: 500 14px/22px "Helvetica Neue", Sans-Serif; }

a#me {
  position: absolute;
  right: 50px;
  top: 50px; }
  a#me img {
    width: 400px; }

a {
  text-decoration: underline;
  color: #000; }
  a:hover {
    text-decoration: none; }

div#speel {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -120px;
  width: 300px;
  text-align: center; }
  div#speel p {
    margin-top: 0px; }
  div#speel p.links {
    color: #AAA;
    width: 240px;
    margin-left: 30px; }
    div#speel p.links a {
      color: #AAA; }
