@columnSize: 80px;
@sans: 'Helvetica Neue', Sans-Serif;
@red: #fc6862;

#blocks{
	.block{
		float: left;
		position: relative;
	}
	.b1high{ height: @columnSize * 1; }
	.b2high{ height: @columnSize * 2; }
	.b3high{ height: @columnSize * 3; }
	.b4high{ height: @columnSize * 4; }
	.b5high{ height: @columnSize * 5; }

	.b1high{ width: @columnSize * 1; }
	.b2high{ width: @columnSize * 2; }
	.b3high{ width: @columnSize * 3; }
	.b4high{ width: @columnSize * 4; }
	.b5high{ width: @columnSize * 5; }
}

#hi{
	background-color: #FFF;
	font: 700 200px/240px @sans;
	color: @red;
}