html {
  font: 400 19px/22px 'Helvetica Neue', Sans-Serif;
  color: #222222;
}
.clearfix {
  clear: both;
}
.hide {
  display: none;
}
@media screen and (max-width: 960px) {
  
}
#jarred-is {
  position: fixed;
  z-index: 100;
  left: 134px;
  top: 94px;
  font-weight: 600;
  color: #FFF;
}
#jarred-is span {
  background-color: #FFF;
  display: inline-block;
  padding: 8px;
  color: #222222;
}
#posts {
  position: fixed;
  left: 22px;
  top: 22px;
  bottom: 22px;
  right: 220px;
  overflow: visible;
  z-index: 10;
  max-width: 1000px;
  max-height: 1000px;
}
#posts #nav {
  position: absolute;
  width: 200px;
  right: -220px;
  bottom: 22px;
}
.post {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.post .bg-image {
  background-color: #000;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1000px;
  max-height: 1000px;
}
.post p {
  position: absolute;
  x-index: 20;
  left: 134px;
  bottom: 22px;
  color: #FFF;
}
.post p a {
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.post p span.faint {
  color: rgba(255, 255, 255, 0.4);
}
#depth-instrument {
  position: relative;
}
#depth-instrument .level {
  height: 400px;
}
#homepage .bg-image {
  background-image: url('../images/homepage/8208478127_7cfe54eb50_h.jpeg');
}
