@margin: 22px;
@sans: 'Helvetica Neue', Sans-Serif;
@gray: #FFF;
@black: #222;

html{
	font: 400 19px/22px @sans;
	color: @black;
}

.clearfix{
	clear: both;
}
.hide{
	display: none;
}
@media screen and (max-width: 960px){

}

#jarred-is{
	position: fixed;
	z-index: 100;
	left: 134px;
	top: 94px;
	font-weight: 600;
	color: #FFF;
	span{
		background-color: #FFF;
		display: inline-block;
		padding: 8px;
		color: @black;
	}
}


#posts{
	position: fixed;
	left: @margin;
	top: @margin;
	bottom: @margin;
	right: 220px;
	overflow: visible;
	z-index: 10;
	max-width: 1000px;
	max-height: 1000px;
	#nav{
		position: absolute;
		width: 200px;
		right: -220px;
		bottom: @margin;
	}
}

.post{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	.bg-image{
		background-color: #000;
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		max-width: 1000px;
		max-height: 1000px;
	}
	p{
		position: absolute;
		x-index: 20;
		left: 134px;
		bottom: @margin;
		color: #FFF;
		a{
			color: #FFF;
			text-decoration: none;
			border-bottom: 1px solid rgba(255,255,255,.4);
		}
		span.faint{
			color: rgba(255,255,255,.4);
		}
	}
}

#depth-instrument{
	position: relative;
	.level{
		height: 400px;
	}
}

#homepage{
	.bg-image{
		background-image: url('../images/homepage/8208478127_7cfe54eb50_h.jpeg');
	}
}