<div id="welcome">
	<div id="card">
		<h3><a href="/">Jarred Bishop</a></h3>
		<p>Designer<br />
		Wellington. NZ.<br />
		<a href="/colophon">Bio/Contact</a></p>
	</div>
    <div id="fellows">
        <h3>Collaborators</h3>
    	<ul>
    		<li><a href="http://www.bitbybit.io">bit by bit</a></li>
    		<li><a href="http://www.cutandrun.co.nz">Cut&amp;Run</a></li>
            <li><a href="http://www.goodasgold.co.nz">Good As Gold</a></li>
    		<li><a href="http://www.coffeesupreme.co.nz">Coffee Supreme</a></li>
    	</ul>
    </div>
</div>  
